.container{
    max-width:360px;
    margin:auto;
    text-align:center;
    font-family:sans-serif;
}

.main-btn{
    display:block;
    width:90%;
    margin:10px auto;
    padding:14px;
    font-size:20px;
    border:none;
    border-radius:12px;
    background:#3B82F6;
    color:white;
}

.section{
    display:none;
}

.icon{
    width:28px;
    vertical-align:middle;
    margin-right:8px;
}
